* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

.quizz-1,
.quizz-2 {
    display: flex;
    padding: 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.quizz-2 {
    flex-wrap: wrap;
}