* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Header */
.header{
    position: fixed;
    width: 100vw;;
}

.navbar{
    display: flex;
    padding: 1rem 2rem;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.navbar-brand {
    color: #c98731;
    font-size: 1.5rem;
    text-decoration: none;
}

.navbar-collapse {
    margin-left: auto;
}

/* Main */
.slide img {
    width: 100vw;
    height: 40vh;
}

.intro {  
    padding: 1rem 19rem;
    text-align: center;
}

.intro h1 {
    margin: 2rem;
    color: #945c13;
}

.intro p{
    color: #945c13;
    font-size: 0.9rem;
}

.blog {
    display: grid;
    justify-content: space-around;
    padding: 2rem;
    flex-direction: column;
    justify-content: space-between; /* các thành phần trong card cách đều nhau theo chiều dọc */
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 2rem;
}

.card-item button {
    margin-top: 0.5rem;
    color: rgb(255, 255, 255);
    width: 7rem;
    background-color: #be9931;
}

.card-item img {
    width: 100%;
    height: auto;
}

.card-item h3 {
    color: goldenrod;
    margin: 10px 0;
}

.card-item {
    font-size: 0.8rem;
    color:#945c13;
    flex-grow: 1;
}

.main-under{
    display: flex;
}

.preview-blog {
    color: #945c13;
    padding: 2rem;
    width: 50vw;
    gap: 1rem;
}

.preview-blog button {
    margin-top: 0.5rem;
    color: rgb(255, 255, 255);
    width: 7rem;
    background-color: #be9931;
}

.preview-blog img {
    margin: 1rem 0;
    width: 100%;
    height: auto;
    gap: 1rem;
}

.resoomer {
    padding: 2rem;
}

.resoomer div:nth-child(1) {
    width: 50vw;
    display: flex;
    justify-content: space-around;
}

.resoomer .categories, 
.useful-links {
    gap: 10px;
    color: #945c13;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.resoomer .useful-links {
    
}

.resoomer div:nth-child(2) {
    margin-top: 2rem;

}







/* Components */
img {
    object-fit: cover;       
    object-position: center; 
}

button{
    color: #945c13;
    height: 2rem;
    width: 5rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    background-color: white;
    transition: all 0.2s ease;
}

button:active {
    color: aliceblue;
    background-color: #be9931;
    transform: scale(1.2);
}

h1,
h3,
p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}